body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background: #fff8f0;
    color: #333;
  }
  
  header {
    background: #000000;
    color: #ffffff;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
  }
  
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  .search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .search-wrapper {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    max-width: 600px;
  }
  
  .search-wrapper input {
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-wrapper button {
    padding: 0.8rem 1.5rem;
    background: #5b3f3f;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .search-wrapper button:hover {
    background: #ffffff;
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    max-width: 100vw;
    margin: 0 auto;
    padding: 4rem;
  }

  #res {
    background: #fdfdfd;
    border-radius: 14px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    /* transition: transform 0.3s ease; */
  }
  
  #res:hover {
    transform: scale(1.03);
    background: #ffffff;
  }
  
  .res-img {
    width: 100%;
    /* border-radius: 10px;
    margin-bottom: 12px; */
  }
  
  h3 {
    color: #000000;
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  
  p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
  }
  .bottom{
    color: #ffffff;
  }
  
  #toTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #bd8989;
    
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  #toTopBtn:hover {
    background: #f5c69f;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #000000;
    color: #ece7da;
    padding: 1rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
  }
  
.results-grid.single-result {
    justify-content: center;
  }
  
  #res.single-card {
    max-width: 400px;
    margin: 0 auto;
  }
  a {
    text-decoration: none; 
    color: inherit;       
  }
  
